extends layout

block layout-content
  .panel
    header.main-header
      button#backButton.main-header__button
      h1#introHeading.main-header__title
        span.title Firefox Private Network
        span.type Lite
      button#settingsButton.main-header__button
    main#content
    #state
      #stateAnimation
      #stateIcon
      #stateContent
      #stateButton






